$main-bg-color: #F5F5F5;
$main-text-color: #101010;
$orange-color: #FF5830;
$main-bg-title: #FFC2B3;
$white: #FFFFFF;
$blue-color: #261C75;
$black-color: #010205;
$gray-color: #606060;
$light-gray-color: #92909F;
$black-color-subtitle: #222222;
$circle-bg-color: #EBE9E9;
$difficulties-color: #808080;
$easy-start-text-color: #4D4D4D;
$count-text-color: #828282;
$contact-text-color: #1A1A1A;
$footer-line-color: #B9B9B9;
$copy-color-text: #868686;
$number-modal-color: #3D3E42;
$modal-button-bg-color: #F9572F;
$error-color: #F9572F;